/* Import Raleway and IBM Plex Mono font */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* General Reset to remove default margins and padding */
body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family-main);
}

:root {
  --main-color: #f0f1f2;
  --background-color-recent-work: whitesmoke;
  --font-color: #000000;
  --font-family-headings: "Raleway", sans-serif;
  --font-family-main: "IBM Plex Mono", monospace;
  --font-family-menu-label: "Raleway", sans-serif;
  --font-size: 16px;
  --font-size-h1: 40px;
  --border-radius: 8px;
  --shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  --shadow-recent-work: 0 4px 8px rgba(245, 245, 245, 0.1);
}

html,
body {
  min-height: 100vh;
  color: white;
  background-color: black;
}

/* Navigation styles */
.sticky {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center items vertically */
  align-items: center;
  gap: 95px;
  background-color: #1b1b1b; /* Dark background */
  width: calc(
    100% - 10%
  ); /* 80% width of the viewport minus 20% for centering */
  height: 70px;
  margin: 0 auto; /* Center navbar horizontally */
  border: 1px solid #1b1b1b; /* Border color to match background */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: sticky; /* Make navbar sticky */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000; /* Ensure navbar is above other content */
}

/* Style for label in menu */
.sticky h3 {
  font-family: var(--font-family-menu-label);
  margin: 0;
}

/* Hamburger Icon Styles */
/* The fix: Our custom styles now override any conflicting styles from Font Awesome */
.menu-toggle {
  color: #9c9c9c; /* Silver icon color */
  font-size: 24px; /* Icon size */
  cursor: pointer; /* Pointer cursor on hover */
  display: none; /* Hide by default (visible only on mobile) */
}

/* Navigation Styling */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 95px;
  font-weight: 400;
  font-size: 14px;
}

/* Styles for the left section of the menu */
.sticky h3 {
  color: #9c9c9c; /* Silver color for the title */
}
/* Styles for the left section of the menu */
.menu .left-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

/* Styles for list items in the navigation menu */
.menu .left-section ul li {
  list-style: none;
}

/* Styles for navigation links */
.menu .left-section ul li a {
  text-decoration: none;
  color: #9c9c9c; /* Silver color for links */
  letter-spacing: 1%;
}

.menu .left-section ul li a:hover {
  text-decoration: underline;
  color: smokescreen;
  letter-spacing: 1%;
  font-weight: 600;
}
.right-section .social-media {
  display: flex;
  flex-direction: row;
  gap: 25px;
  list-style: none;
}

/* Styles for each social media icon */
.right-section .social-media li {
  display: flex;
  padding-left: 10px;
}

/* Styles for social media links */
.right-section .social-media li a {
  text-decoration: none;
  color: #9c9c9c; /* Silver color for links */
}

/* Styles for social media images/icons */
.right-section .social-media li img {
  width: 18px;
  height: 17px;
  opacity: 80%; /* Sets the opacity of the icons to match the ones in the footer. */
}

/* Global paragraph styling */
p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1%;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5px;
}

/* Styles for the Return to Top button */
.return-to-top {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  color: #9c9c9c; /* Silver text color */
  text-decoration: none;
  border: 1px solid #9c9c9c; /* Silver border */
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

.return-to-top:hover {
  color: whitesmoke;
  box-shadow: gray 0px 0px 20px;
  background-color: #9c9c9c; /* Silver background on hover */
}

/* Container for the Return to Top button */
#return-to-top {
  width: 100%;
  min-height: 30px;
  vertical-align: top;
  text-align: right;
  padding: 0;
}

/* Styles for the footer */
.footer {
  display: flex;
  flex-direction: column;
  margin: 95px 0 45px 0;
}

/* Style the 'Worked With' text */
.footer h3 {
  padding-left: 180px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  vertical-align: bottom;
  text-align: left;
  color: #9c9c9c; /* Silver text color */
}

/* Styles for the icons */
.footer .icons ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer .icons ul li {
  width: 130px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px 0;
  border: 1px solid #1b1b1b;
}

.footer .icons {
  text-align: center;
  padding-top: 7px;
  margin-left: 160px;
  opacity: 80%; /* Sets the opacity of the icons to match the ones in the menu. */
}
.footer ul li a {
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
}

.footer ul li a img {
  width: 24px;
  height: 24px;
  opacity: 80%;
  margin-right: 5px;
  vertical-align: middle;
}

/* Media Query for Mobile View */
@media (max-width: 768px) {
  /* Show the hamburger icon */
  .menu-toggle {
    display: block; /* Show icon only in mobile view */
  }

  /* Hide the menu by default in mobile view */
  .menu {
    display: none; /* Hide menu */
    flex-direction: column; /* Stack items vertically */
    position: absolute; /* Position relative to navbar */
    background-color: #333; /* Same background as navbar */
    top: 60px; /* Position below the navbar */
    left: 0;
    right: 0;
    gap: 5px;
    z-index: 1; /* Stay on top of other elements */
    padding: 20px 0; /* Padding around menu items */
  }

  .menu .left-section ul {
    gap: 2px;
    padding-bottom: 10px;
  }

  /* Show the menu when active */
  .menu.active {
    display: flex; /* Display menu */
  }

  /* Adjust the menu list for mobile */
  .menu ul {
    flex-direction: column; /* Stack list items vertically */
    align-items: center; /* Center items horizontally */
  }

  /* Adjust menu items for mobile */
  .menu .left-section ul li {
    margin: 10px 0; /* Space between items */
  }
}
