/* Styles specific to the Contact Us page */
.main-container {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

/* Header styles */
#header {
  display: flex;
  max-width: 90%; /* Size the header to match the form size */
  justify-content: space-evenly;
  align-items: flex-end;
}
/* Heading text styles */
#header h1 {
  font-family: var(--font-family-headings);
  font-size: var(--font-size-h1);
  text-align: center;
  color: whitesmoke;
  margin-bottom: 25px;
}

/* Header image styles */
#header img {
  width: 125px;
}

/* Contact form styles */
form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
}

.form-group {
  margin-bottom: 20px;
}

/* Label styles */
.contact-us label {
  font-family: var(--font-family-main);
  display: block;
  margin-bottom: 8px;
  color: darkred;
  font-weight: bold;
  text-align: left;
}

/* Input and textarea styles */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: calc(100% - 20px); /* Account for padding */
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Focus styles for inputs and textarea */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline-color: darkred;
  outline-style: solid;
  outline-width: 1.5px;
}

/* Submit button styles */
input[type="submit"] {
  background-color: #382716;
  color: rgb(232, 230, 230);
  font: 2.5em;
  font-weight: bolder;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  margin-top: 5px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: darkred;
}
