/* Main container styles */
#main-content {
  flex: 1;
  padding-top: 20px;
  min-height: 100vh;
  width: 100%;
}

.main-section {
  width: calc(80% - 20%);
  padding: 20px;
}

/* Main Container header styles */
.portfolio h1,
h2,
h3 {
  font-family: var(--font-family-headings);
  letter-spacing: 0%;
  text-align: center;
  gap: 10px;
  margin-bottom: 25px;
}

.portfolio h1 {
  font-weight: 800;
  font-style: ExtraBold;
  margin-bottom: 10px;
}

/* Return to top styles */
.return-to-top-container {
  width: calc(100% - 10%);
}

/* Specific styles for the links in the main section */
a {
  color: #9c9c9c; /* Silver color for links */
}

a:hover {
  font-size: large;
  font-weight: 800;
  font-style: bold;
}

/* Styles for the Recent Work section */
.card-content h3 {
  font-family: var(--font-family-h1);
  color: #000000;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

/* Styles for individual cards */
.card {
  border: 1px solid #ddd;
  background-color: var(--background-color-recent-work);
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--shadow-recent-work);
}

/* Sets the image width inside the card */
.card img {
  width: 400px;
}

.card-content {
  padding: 20px;
}

/* Styles for text inside the card */
.card-content p {
  font-size: 1em;
  padding: 5px;
  text-align: start;
  color: #000000;
}
.card-content h3 {
  font-size: 1.5em;
}

/* Styles for links inside the card */
.card-content a {
  color: darkred;
}

.card-content a:hover {
  color: darkred;
  font-weight: 800;
  font-style: bolder;
}
