/* Main container styles */
#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  min-height: 100vh;
  width: 100%;
}

.main-section {
  width: calc(80% - 20%);
}

/* Styles for the headers in the main section */
.main-section h1,
h2,
h3 {
  font-family: var(--font-family-headings);
  text-align: center;
  letter-spacing: 0%;
  gap: 10px;
  margin-bottom: 25px;
}

/* Setting the margin-bottom for h3 headers */
.main-section h3 {
  margin-bottom: 0px;
}

/* Specific styles for the h1 header in the main section */
.main-section h1 {
  font-size: var(--font-size-h1);
  font-weight: 800;
  font-style: ExtraBold;
  margin-bottom: 10px;
}

/* Styles for testimonial cards */
.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  background: var(--main-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

/* Styles for testimonial quotes */
.testimonial-header {
  font-family: var(--font-family-headings);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--font-color);
}

.testimonial-quote {
  font-family: var(--font-family-headings);
  font-style: italic;
  font-size: 18px;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  color: var(--font-color);
  border: 2px solid #555;
  padding: 15px;
  background: var(--main-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

/* Styles for star rating */
.star-rating {
  display: flex;
  justify-content: center;
  padding: 5px;
}

/* Color of checked star */
.checked {
  color: darkred;
}
