/* Style for label in menu */
.sticky h3 {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

/* Main container styles */
#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  min-height: 100vh;
  width: 100%;
}

.main-section {
  width: calc(80% - 20%);
}

/* Styles for the headers in the main section */
.main-section h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  letter-spacing: 0%;
  gap: 10px;
  margin-bottom: 25px;
}

/* Styles for the h1 header in the main section */
.main-section h1 {
  font-size: 44px;
  font-weight: 800;
  font-style: ExtraBold;
  margin-bottom: 10px;
}

.return-to-top-container {
  width: calc(100% - 10%);
}
